.menu{
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
    -fx-background-color: transparent;

}

.menu Button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #132A13;
    -fx-font-size: 1.1em;
    -fx-alignment: centre-left;
    -fx-effect: drop-shadow(three-pass-box,#DDDDDD,5,0,0,6);
}

.menu Button:hover {
    -fx-background-color: linear-gradient(to right,#0090ff, #0b00a6);
}




.topPane{
    -fx-background-color: linear-gradient(to right,#0090ff, #0b00a6);
}

.topPane Button {
    -fx-effect: drop-shadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 10px 20px;
    -fx-spacing: 20;
}

.vbox{
    -fx-effect: drop-shadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-padding: 5px 10px;
    -fx-spacing: 10px;
}
.vbox Button {
    -fx-background-color: #ffffff;
    -fx-text-fill: #132A13;
    -fx-pref-width: 200px;
    -fx-alignment: centre-left;
    -fx-effect: drop-shadow(three-pass-box,#DDDDDD,5,0,0,6);


}
.vbox Button:hover {
    -fx-background-color: linear-gradient(to right,#0090ff, #0b00a6);
}